[ req ]
default_bits			= 1024
distinguished_name	= req_distinguished_name
x509_extensions		= usr_cert

[ req_distinguished_name ]
countryName				= PL
countryName_default	= PL
countryName_min		= 2
countryName_max		= 2

localityName			= Unknown
localityName_default = Unknown

#organizationalUnitName = Unknown
#organizationalUnitName_default = Unknown

commonName				= DefaultCert
commonName_default		= DefaultCert
commonName_max			= 64

emailAddress			= unknown@mail.pl
emailAddress_default	= unknown@mail.pl
emailAddress_max		= 40

[ usr_cert ]
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer:always
basicConstraints=CA:false
keyUsage=nonRepudiation, digitalSignature, keyEncipherment
