Katalog plansz:domyslny
Typ logowania:wszystko
PODLOGA:  white 
LUDEK:@ bold yellow
LUDEK_MAGAZYN:@ bold cyan
BALON:o red
BALON_MAGAZYN:o bold red
SCIANA:# green
MAGAZYN:x bold blue
T1:S T A R T
T2:I N N Y  P O Z I O M
T3:K O N I E C
T4:Autor
T5:Tytul
T6:Wybierz poziom
T7:Akceptuj
T8:Ruch 
T9:Pych 
TA:Gratulacje
TB:Gotuj sie na trudniejsze
